@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: hsla(0, 0%, 100%, 0.8);
  --swiper-navigation-size: 32px;
}

body {
  background-color: #000000;
}

::-webkit-scrollbar {
  background-color: hsla(0, 0%, 100%, 0.2);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}

#waveform {
  height: 30px;
}

.bar {
  background-color: #ffffff;
  width: 3px;
  height: 10px;
  border-radius: 20px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}
